$font-family: "Roboto", sans-serif;

$body-font-size: 16px;
$title-font-size: 22px;
$max-width-content: 1440px;
$max-logo-width: 120px;
$max-logo-width-responsive: 80px;

$spacing-xxs: 0.25rem;
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 0.75rem;
$spacing-lg: 1rem;
$spacing-xl: 1.5rem;
$spacing-xxl: 2rem;

$font-size-xs: 0.5rem;
$font-size-sm: 0.75rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;

$line-height-xs: 1.4;
$line-height-sm: 1.45;
$line-height-md: 1.55;
$line-height-lg: 1.6;
$line-height-xl: 1.65;

$font-weight-xs: 300;
$font-weight-sm: 400;
$font-weight-md: 500;
$font-weight-lg: 600;
$font-weight-xl: 700;

$radius-default: 0.25rem;
$radius-xs: 0.25rem;
$radius-sm: 0.5rem;
$radius-md: 0.75rem;
$radius-lg: 1rem;
$radius-xl: 1.25rem;
$radius-xxl: 1.5rem;

$bg-dark: #020203;
$bg-white: #FFFFFFFF;
$text-color-white: #ffffff;
